@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body,
html,
* {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
}


.animate {
    transition: all 0.3s ease 0s;
}